<div class="row" style="height:100vh; background-color:#333;">

	<div class="col-md-8" style="margin-top:175px; color:#fff">
		<div class="jumbotron" style="background-color:transparent;">
			<h2>Welcome</h2>
			<p class="text-left" style="line-height:40px; font-size:24px;">Open Eye Cad is an opensource repository which gives the power of customization in the hands of any person who wants to generate STL files of eye related equipment and devices</p>
			<p>
			<a class="btn btn-success btn-lg" href="/#/repo" role="button">Visit Repositories</a>
			<a class="btn btn-success btn-lg" href="/Open Eye Cad.pdf" role="button">Project Report</a>
			</p>
		</div>
	</div>
	<div class="col-md-4" style="margin-top:175px;">
		<img src="imgs/eye.png" style="width:80%; margin-top:30px;">
	</div>
</div>
<div class="row" style="height:100vh;background-color:#fff;" >
	<div class="col-md-12" style="margin-top:125px;" >
		<p class="text-center" style="color:#5CB85C; font-size:67px;">How it Works</p>
		<div class="row">
			<div class="col-md-6" style="margin-top:25px; color:#333;">
				<p style="padding-right:60px;padding-left:60px;font-size:24px;">
					Do not know how to code? Are you not a good designer? Don't Worry! We have the perfect solution for you.
				</p>
				<p style="padding-right:60px;padding-left:60px;font-size:24px;">
					 All you need to do is enter the dimensions you would want your 3D printed model to have and we take care of the rest
				</p>
			</div>
			<div class="col-md-6">
				<iframe id="ytplayer" type="text/html" width="475" height="300"
src="https://www.youtube.com/embed/QbV7gmwcTk8"
frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<div class="row" style="height:100vh;background-color:#333;">
	<div class="col-md-12" style="margin-top:125px; color:#fefefe;">
		<h2 class="text-center">Want to Contribute ?</h2>
		<div class="row">
			<div class="col-md-12 text-center" style="margin-top:25px;">
				<p style="padding-right:60px;padding-left:60px;font-size:19px; color:#fff;">
					<em>Find Us on Github</em><br><a href="https://github.com/ayusharma/open-eye-cad" target="_blank"><i class="fa fa-github" style="font-size:75px; margin-top:10px;"></i></a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-12 text-center" style="margin-top:20px;">
		<p style="padding-right:60px;padding-left:60px;font-size:19px;">
			<em>Supported by</em><br><br>
			<a href="http://www.mitredx.com/" target="_blank"><img src="imgs/redx.png"  width="100" style="margin-right:10px; margin-left:10px;"></a>
			<a href="http://www.lvpei.org/" target="_blank"><img src="imgs/lvpei.png" height="50" style="margin-right:10px; margin-left:10px;"></a>
			<a href="https://www.thingiverse.com/ganant/designs" target="_blank"><img src="imgs/ganant.png" height="50" style="margin-right:10px; margin-left:10px;"></a>
			<a href="http://www.fittle.in/" target="_blank"><img src="imgs/fittle.png"height="50" style="margin-right:10px; margin-left:10px;"></a>
			<a href="http://www.openscad.org/" target="_blank"><img src="imgs/title.png" width="130" style="margin-right:10px; margin-left:10px;"></a>
			<a href="http://www.openscad.org/" target="_blank"><img src="imgs/MIT.png" width="130" style="margin-right:10px; margin-left:10px;"></a>
		</p>
			<span style="color:#bbb; display:block; margin-top:80px;">Made with <i class="fa fa-heart"></i> in MIT REDx Hyderabad, IN</span>

	</div>
</div>